<div class="bg-light d-flex justify-content-center align-items-center min-vh-100 m-0">
  <div class="bg-white p-5 rounded shadow" style="max-width: 500px; width: 100%;">
    <h2 class="mb-4 text-center text-dark">Register</h2>
    <form [formGroup]="registerForm" (submit)="addNewUser()">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="Your Name" required formControlName="name">
        <label for="name">Name</label>
        @if (getName.touched) {
        <app-danger-span>
          @if (getName.hasError('required')) {
          <app-danger-span>Name is Required</app-danger-span>
          }
          @else if (getName.hasError('minlength')) {
          <app-danger-span>Name must be at least 3 characters</app-danger-span>
          }
          @else if (getName.hasError('pattern')) {
          <app-danger-span>Name must contains only characters</app-danger-span>
          }
        </app-danger-span>
        }
      </div>

      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="name@example.com" required
          formControlName="email">
        <label for="email">Email address</label>
        @if (getEmail.touched) {
        <app-danger-span>
          @if (getEmail.hasError('required')) {
          Email is Required
          }
          @else if (getEmail.hasError('email')) {
          Invalid Email
          }
        </app-danger-span>
        }
      </div>

      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="age" placeholder="Your Age" min="18" max="120" required
          formControlName="age">
        <label for="age">Age</label>
        @if (getAge.touched) {
        <app-danger-span>
          @if (getAge.hasError('required')) {
          Age is Required
          }
          @else if (getAge.hasError('min')) {
          Age must be at least 18
          }
        </app-danger-span> }
      </div>

      <div class="form-floating mb-4">
        <textarea class="form-control" placeholder="Your Address" id="address" style="height: 100px;" required
          formControlName="address"></textarea>
        <label for="address">Address</label>
        @if (getAddress.touched) {
        <app-danger-span>
          @if (getAddress.hasError('required')) {
          Address is Required
          }
        </app-danger-span> }
      </div>

      <button type="submit" class="btn btn-primary w-100 py-2 fs-5">Register</button>
    </form>
  </div>
</div>