/* ======== global style ============ */

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}

.btn {
  background-color: #c59c84;
  color: #fff;
  padding: 25px 60px;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* =============== header ============= */

header {
  background-color: #fff;
}

header .logo {
  float: left;
  margin: 30px 0px 0px 60px;
}

header nav {
  float: right;
}

ul {
  list-style-type: none;
}

ul,
.visit-us {
  display: inline-block;
}

header ul li {
  display: inline-block;
  padding: 0px 25px;
}

header ul li a {
  font-size: 15px;
  font-weight: 600;
  color: #101a31;
}

.visit-us {
  background-color: #be9278;
  color: #fff;
  padding: 30px 65px;
  margin-left: 80px;
}

/* ============ hero section ========= */

.hero-section {
  height: 850px;
  /* height: 100vh; */
  background: linear-gradient(
      to right,
      rgba(16, 26, 48, 0.7) 0%,
      rgba(16, 26, 48, 0.7) 12%,
      #101a31 91%,
      #101a31 100%
    ),
    url("images/h1_hero.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-section .hero-content {
  position: absolute;
  color: #fff;
  left: 10%;
  top: 20%;
  width: 40%;
}

.hero-content img {
  margin-bottom: 30px;
}

.hero-content h1 {
  font-size: 76px;
  line-height: 83.6px;
  font-weight: 600;
}

.hero-content p {
  width: 78%;
  line-height: 30px;
  margin: 20px 0px 30px 0px;
}

.hero-section .hero-img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 750px;
}

.hero-img img {
  height: 100%;
  width: 660px;
}

/* =============== Services =============== */

main {
  width: 80%;
  margin: 100px auto;
}

main .offer {
  display: inline-block;
  width: 33%;
}

.offer-img {
  padding: 40px;
}

.offer img {
  width: 100%;
  /* height: 100%; */
}

.offer-content {
  padding: 0px 40px;
  position: relative;
}

.offer-content span {
  width: 35px;
  height: 35px;
  background-color: #c6a16e;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  position: absolute;
  left: -20px;
  top: 1px;
}

.offer-content h3 {
  font-size: 30px;
  line-height: 45px;
  font-weight: 600;
  color: #101a31;
}

.offer-content p {
  line-height: 30px;
  color: #101a31;
  width: 85%;
}

/* =================== About =========== */

.about {
  width: 90%;
  margin: 100px auto;
  height: 800px;
  position: relative;
}

.about-img {
  position: absolute;
  z-index: 5;
  top: 15%;
}

.about-img img {
  width: 660px;
  height: 570px;
}

.about-content {
  position: absolute;
  background-color: #f2e1d9;
  width: 70%;
  right: 0;
  height: 100%;
}

.about-cap {
  position: absolute;
  top: 25%;
  left: 38%;
}

.about-cap h2 {
  font-size: 56px;
  color: #101a31;
  font-weight: 600;
  line-height: 67.2px;
}

.about-cap .first-p {
  font-size: 18px;
  color: #010a44;
  line-height: 30px;
  width: 80%;
  margin-top: 30px;
}

.about-cap .second-p {
  color: #10285d;
  font-size: 14px;
  line-height: 30px;
  width: 80%;
  margin: 20px 0px;
}
/* =============== Category =============== */

.category {
  width: 90%;
  margin: 100px auto;
}
.category-head h2 {
  color: #101a31;
  line-height: 74.2px;
  font-size: 53px;
  text-align: center;
}
.category-head p {
  color: #101a31;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  width: 50%;
  margin: auto;
  text-align: center;
}
.category-card {
  display: inline-block;
  width: 24.5%;
  margin: 50px 0;
}
.category-card .card-img {
  margin: 20px 0;
}
.category-card h3 {
  line-height: 28.8px;
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0;
}
.category-card p {
  width: 80%;
  color: #101a31;
  line-height: 26.6px;
  font-size: 14px;
}
/* ================ Slider ============== */

.slider-section {
  width: 55%;
  margin: 100px auto;
  position: relative;
}
.slider-section > img {
  position: absolute;
  top: -65px;
  left: -80px;
  z-index: -1;
}
.slider-section .slider-content {
  color: #010a44;
  font-size: 19px;
  line-height: 30.4px;
}
.slider-body {
  position: relative;
}

.slider-body section {
  display: inline-block;
}
.slider-content {
  margin: auto;
}
.body-content {
  height: 50%;
  position: absolute;
  top: 25%;
}
.body-content h3 {
  font-size: 22px;
  color: rgb(29, 37, 71);
  line-height: 33px;
  font-weight: 500;
}
.body-content p {
  color: #646d77;
  line-height: 30px;
}
/* ================ Follow Us ============== */

.follow {
  width: 85%;
  margin: 100px auto;
  /* position: relative; */
}
.follow h2 {
  color: #101a31;
  font-size: 53px;
  text-align: center;
  line-height: 74.2px;
}
.follow p {
  color: #101a31;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  width: 50%;
  text-align: center;
  margin: auto;
}
.follow-images {
  margin: 60px 0;
}
.follow-images img {
  display: inline-block;
  margin: 10px;
  margin: 10px;
  width: 48%;
  box-sizing: border-box;
}
/* ================= Footer ============= */

footer {
  background: url("images/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding-top: 100px;
  box-sizing: border-box;
  height: 600px;
  position: relative;
}
.footer-map {
  position: absolute;
  text-align: left;
  left: 0;
  bottom: 0;
}
.footer-map img {
  width: 65%;
  height: 501px;
}
.footer-content {
  position: absolute;
  width: 48%;
  height: 100%;
  top: 0;
  right: 0;
}
.content-body {
  width: 100%;
  height: 100%;
}
.footer-contact,
.solutions {
  display: inline-block;
  width: 49%;
  margin-top: 75px;
}
.contact-body p {
  line-height: 28.8px;
  margin: 20px 0;
}
.contact-body a {
  color: #be9278;
}
.footer-number1 {
  font-size: 26px;
  line-height: 39px;
  font-weight: 300;
}
.footer-number2 {
  line-height: 21px;
  font-weight: 300;
}
.footer-number1:hover {
  text-decoration-line: underline;
  -moz-text-decoration-line: underline;
}
.contact-body i {
  display: inline-block;
  text-align: center;
  line-height: 40px;
  height: 40px;
  width: 40px;
  margin: 5px;
  background-color: #192341;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.contact-body i:hover {
  color: #fff;
  background-color: #be9278;
}
.solutions h3 {
  color: #be9278;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 600;
  margin-bottom: 20px;
}
.solutions li {
  padding: 10px 0;
  line-height: 24px;
  font-weight: 300;
}
.solutions li a:hover {
  color: #be9278;
  text-decoration-line: underline;
  -moz-text-decoration-line: underline;
}
footer a {
  direction: none;
  color: #fff;
}
.footer-foot {
  position: absolute;
  bottom: 0;
  right: 0;
}
.footer-foot a {
  color: #be9278;
}
