<header class="bg-custom-dark text-white">
  <div class="container-fluid py-4 px-3">
    <div class="row justify-content-between align-items-center">
      <div class="col">
        <i class="bi p-2 bi-facebook"></i>
        <i class="bi p-2 bi-instagram"></i>
        <i class="bi p-2 bi-twitter"></i>
      </div>
      <div class="col d-flex justify-content-center">
        <img src="/img/logo.png" alt="">
      </div>
      <div class="col d-flex justify-content-end">
        <a href="#" class="btn-nav text-main border-main">Call Us: +10 783 346 4378</a>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Cakes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
