<footer>
  <div class="container">
    <!-- Footer Top -->
    <div class="row align-items-center justify-content-between py-5">
      <div class="col">
        <img src="/img/logo.png" alt="">
      </div>
      <div class="col">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Cakes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="row justify-content-between  py-5">
      <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-10 px-3">
        <p class="pb-5">
          Consectetur adipiscing elit, sed do eiusmod tempor dunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis
          nostrud exercita tion ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <div class="row gap-3">
          <a class="col social-footer">
            <i class="bi bi-instagram me-3"></i>
            <span>Instagram</span>
          </a>
          <a class="col social-footer">
            <i class="bi bi-facebook me-3"></i>
            <span>Facebook</span>
          </a>
          <a class="col social-footer">
            <i class="bi bi-twitter me-3"></i>
            <span>Twitter</span>
          </a>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 px-3 gap-3 flex-column">
        <i class="bi bi-send-fill fs-4"></i>
        <h3 class="text-main">Location</h3>
        <p>4736 Poe Lane, HOT SPRINGS, Montana-59845</p>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 px-3 gap-3 flex-column">
        <i class="bi bi-telephone-fill fs-4"></i>
        <h3 class="text-main">Contact</h3>
        <a href="#" class="text-decoration-none text-white phone-footer"> 913-473-7000</a>
        <p>contactcakeshop.com</p>
      </div>
      <div class="col-md-3 col-lg-6"></div>
    </div>
    <hr />
    <!-- Footer Bottom -->

    <div class="container pt-5">
      <div class="row">
        <div class="col-12">
          <p class="text-center">
            Copyright &copy; 2021 All rights reserved | This template is made with
            <i class="bi bi-heart-fill text-main"></i> by
            <a class="text-main text-decoration-none" href="https://colorlib.com">Colorlib</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
