.media {
  padding: 20px;
  width: 75%;
  margin: 50px;
  text-align: center;
}
#timeInp {
  width: 75%;
}
img {
  width: 20px;
}
button,
select {
  margin: 5px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  color: #fff;
  background-color: #006b1b;
  border: none;
  border-radius: 45%;
}

select {
  border-radius: 10px;
}
